<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aashan_LinkGuestOrder::menu"
             title="Guest Order" module="Aashan_LinkGuestOrder"
             sortOrder="10"
             resource="Magento_Backend::content"
        />
        <add id="Aashan_LinkGuestOrder::menu_item"
             title="Link Guest Orders" module="Aashan_LinkGuestOrder"
             sortOrder="10" parent="Aashan_LinkGuestOrder::menu"
             action="guestorders/link/index"
             resource="Aashan_LinkGuestOrder::menu_item"
        />
    </menu>
</config>
